			#container {
				margin:0 auto;
				background-color:#ffffff;
				padding-bottom: 100px;
			}

			#opis {
				padding-top: 100px;
				border: 1px solid black;
				margin: auto;
				width: 50%;
			}