			#container {
				margin:0 auto;
				background-color:#ffffff;
				padding-bottom: 100px;
			}
			#menu{
				padding-bottom: 100px;
			}
			#lokalizacja{
				margin:0 auto;
				width: 600px;
				border: 1px solid black;
			}